@import "tailwindcss";
@import 'nprogress/nprogress.css';


/* ✅ Apply Poppins font globally */
body {
  font-family: 'Poppins';
}
#nprogress .bar {
  background: linear-gradient(to right, #BA0D30, #D81247) !important;
  height: 2px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}




